.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logoSvg {
  height: 25px;
  width: 125px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  background: url("../../../assets/images/kayak_current_logo.svg") no-repeat
    center center;
  background-size: 125px 25px;
}
