.list-cell {
  padding: 15px;
  background-color: #f8f8f8;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

a {
  text-decoration: none;
  color: #333333;
}

.airlineLogo {
  width: 5vh;
  margin-right: 25px;
  background: #fff;
}
.airlineName {
  color: #333333;
}
